<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="predict" method="POST">
      <label for="fname">Year:</label>
      <input type="text" id="year" name="year" /><br />
      <label for="fname">seller_type:</label>
      <input type="text" id="seller_type" name="seller_type" /><br />
      <label for="fname">Km_driven:</label>
      <input type="text" id="km_driven" name="km_driven" /><br />
      <label for="fname">Owner_type:</label>
      <input type="text" id="owner_type" name="owner_type" /><br />
      <label for="fname">fuel_type:</label>
      <input type="text" id="fuel_type" name="fuel_type" /><br />
      <label for="fname">transmisssion_type:</label>
      <input
        type="text"
        id="transmission_tyoe"
        name="transmission_type"
      /><br />
      <label for="fname">seats:</label>
      <input type="text" id="seats" name="seats" /><br />
      <label for="fname">company:</label>
      <input type="text" id="company" name="company" /><br />
      <label for="fname">model:</label>
      <input type="text" id="model" name="model" /><br />
      <label for="fname">mileage:</label>
      <input type="text" id="mileage" name="mileage" /><br />
      <label for="fname">engine:</label>
      <input type="text" id="engine" name="engine" /><br />
      <label for="fname">max_price:</label>
      <input type="text" id="max_price" name="max_price" /><br />
      <label for="fname">Min_price:</label>
      <input type="text" id="min_price" name="min_price" />
      <button type="submit">Predict</button>

      
    </form>
  </body>
</html>
